---
layout: page
title: Gallery
description: Graffiti art
---
<h3>Sebywo Gallery</h3>
<div class="box alt">
	<div class="row uniform"> <!-- formerly row uniform 50% -->
		{% for post in site.posts %}
		{% if post.img %}
			<div class="4u 12u(small) 12u(xsmall)">
				<span class="image fit"><a href="{{ post.url | absolute_url }}"><img src="{{ post.img }}" alt="{{ post.caption }}" style="object-fit: cover;" /></a></span>
				<h1><a href="{{ post.url | absolute_url  }}">{{ post.title }}</a></h1>
				<!--<p>{{ post.caption }}</p>-->
			</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
